@import url('https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap');

#main {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: auto;
    position: relative;
}

.cherries_text {
    color: #f70000;
    font-family: "Rouge Script", cursive;
}

#msg {
    position: absolute;
    font-weight: 400;
    font-style: normal;
}

.grey_box {
    height: auto;
    width: 100%;
    background-color: rgb(64, 58, 58);
}

.pic{
    height: auto;
    width: 100%;
}
/* Gabriel Gross was here*/