@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Kay+Pho+Du:wght@400;500;600;700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');




#content {
    max-width: 1600px;
    text-align: left;
    margin: 0 auto;
    
}
#hero-msg{
    text-align: center;
    text-decoration: none;
    color: #fcfbfb;
    text-align: center;
    padding: 35px;
}
#hero-box{
    text-align: center;
    text-decoration: none;
    color: #fcfbfb;
    text-align: center;
    padding: 35px;
}
.home-grid{
    text-align: center;
    text-decoration: none;
    color: #fcfbfb;
    text-align: center;
    padding: 35px;
}
nav a{
    text-align: center;
    text-decoration: none;
    color: #eae6e6;
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 1.25em;
    text-decoration: none;
    color: #fcfbfb;
    text-align: center;
    padding: 35px;
}
#book h1, #book h4{
    text-align: center;
    text-decoration: none;
    color: #fcfbfb;
    text-align: center;
    padding: 35px;
}
.button-box{
    text-align: center;
    text-decoration: none;
    color: #fcfbfb;
    text-align: center;
    padding: 35px;
}
.mountains{
    text-align: center;
    text-decoration: none;
    color: #fcfbfb;
    text-align: center;
    padding: 35px;
}
#background{
    height: 725px;
    background-color: rgb(178, 92, 22);
}
body {
    background-color: #fcfbfb; 
    font-family: Raleway, Arial, sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
}
h2{
    margin: 0;
}
header {
    background-color:rgba(20,30,13, .7);
}
nav a:hover {
    background-color: black;
    color: #eae6e6;
}
.book, .join{
    background-color:rgba(15, 15, 15, 0.7);
    color: #d9c2a3;
    text-decoration: none;
    text-decoration: none;
    color: #fcfbfb;
    text-align: center;
    padding: 35px;
}
.book:hover, .join:hover{
    background-color:rgba(12, 12, 12, 0.7);
    color: #d9c2a3;
}
.msg{
    background-color:rgba(20,30,13, .7);
    text-decoration: none;
    color: #fcfbfb;
    text-align: center;
    padding: 35px;
}
footer{
    background-color:rgba(20,30,13, .7);
    color: #d9c2a3;
}
.home-grid{
    color: #121110;
}
h4{
    color: #100f0e;
}
.msg h2{
    color: #d9c2a3;
}
.msg p{
    color: #d9c2a3;
}
footer a{
    color: #d9c2a3;
    text-decoration: none;
}
footer a:hover{
    color: #f1eaea;
}
footer p{
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}    
.logo {
    width: 80px;
    height: 80px;
    text-decoration: none;
    color: #fcfbfb;
    text-align: center;
    padding: 35px;
}



