@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');


#content{
  max-width: 1600px;
  margin: 0 auto;
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav a{
  text-decoration: none;
  color: inherit;
  padding: 10px 20px;
}

#hero-msg h1, #hero-msg h4{
  text-align: center;
}
.button-box{
  text-align: center;
}
main section{
  text-align: center;
}
#background {
  background-color:bisque;
  height: 725px;
  grid-column: 1 / 12;
  grid-row: 4 / 10;
}
body{
  background-color:#ffffff;
  font-family: "Jost", sans-serif;
  font-size: 22px;
  margin: 0;
  padding: 0;
}
header{
  background-color: #308068;
  display: grid;
  grid-template-columns: auto 1fr; 
  align-items: center;
  padding: 10px 20px;
}
nav a:hover{
  color: #ffffff;
  background-color: black;
  padding: 10px 20px;
}
.book, .join{
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  color:#000000;
  background-color:bisque;
  padding: 15px 30px;
  margin-top: 50px;
}
.book:hover, .join:hover{
  color:#ffffff;
  background-color:black;
  border-radius: 5px;
}
.msg{
  background-color:bisque;
  line-height: 1.5em;
  padding: 35px;
  grid-column: 6 / 11; 
  grid-row: 6 / 8;
  box-shadow: 5px 5px 10px #6f7364;
}
footer{
  color:#000000;
  background-color:#308068;
  padding: 25px 50px;
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer a{
  text-decoration: none;
  color:#000000;
}
footer a:hover{
  color:#000000;
}
.home-title{
  color:#000000;
  font-family: "Oswald", sans-serif;
  margin-top: 10px;
}
h4{
  color:#000000;
}
.msg h2{
  color:#000000;
}
h2{
  margin: 0;
}
.msg p{
  color:#000000;
  font-family: "Oswald", sans-serif;
  padding-bottom: 15px;
}
.icon {
  width: 80px;
  padding-top: 10px;
}
.logo{
  width: 80px;
}
#hero-img{
  width: 100%;
}
footer p{
  font-size: 1.2em;
}
footer p:hover{
  text-decoration: none;
}
#logo_link{
  padding-top: 5px;
  justify-self: center;
  align-self: center;
}
footer .social img{
  padding-top: 15px;
}
.rivers-card, .camping-card, .rapids-card{
  margin: 200px 0;
}   
.card-img{
  border: 10px solid #d9c2a3;
  transition: transform .5s;
  box-shadow: 5px 5px 10px #6f7364;
}
.card-img, .mountains {
  width: 100%;
}
main section img{
  box-sizing: border-box;
}
#hero{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  margin-top: -100px;
}
#hero-box{
  grid-column: 1/4;
  grid-row: 1/3;
  z-index: -1;
}
#hero-msg h4 {
  color: white;
  grid-column: 2/3;
  grid-row: 1/2;
  margin-top: 100px;
}
.rivers-card {
  grid-column: 2 / 5;  
  grid-row: 2 / 4;     
}

.camping-card {
  grid-column: 5 / 8;  
  grid-row: 2 / 4;     
}

.rapids-card {
  grid-column: 8 / 11; 
  grid-row: 2 / 4;     
}
.mountains{
  grid-column: 2 / 8;  
  grid-row: 5 / 9;
  box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover{
  opacity: .6;
  transform: scale(1.1);
}
@media screen and (max-width: 900px) {
  #hero, .home-grid {
      display: block;
      height: auto;
  }
  nav, footer {
      flex-direction: column;
  }
  nav a {
      display: block;
      padding: 15px;
  }
  #hero {
      margin-top: 0;
  }
  #hero-msg {
      margin-top: 0;
  }
  #hero-msg h4 {
      display: none;
  }
  #hero-msg h1 {
      color: #6f7364;
  }
  .home-title {
      font-size: 25px;
  }
  .rivers-card, .camping-card, .rapids-card { 
      margin: 50px auto;
      width: 60%;
  }
  #background {
      display: none;
  }
  .mountains, .msg {
      width: 80%;
      display: block;
      margin: 0 auto;
  }
  footer {
      margin-top: 25px;
  }
}